<%= render partial: "shared/top_bar", locals: {
  session: current_user,
} %>

<main class="container">
  <section class="container mb-5">
    <h2>Health Metrics</h2>
    <%= render partial: "shared/index_layout", locals: { resource: @announcements, heading: "title", fields: [
      'content',
      'for_user_type']} %>
  </section>
</main>
