<div class="min-vh-100 d-flex flex-column">
  <nav class="navbar text-center">
    <h2 class="m-5">Welcome to the Health and Fitness Club</h2>
  </nav>

  <div class="col d-flex align-items-center justify-content-center flex-grow-1">
    <div class="card">
      <%= form_with url: login_path, scope: :user do |form| %>
        <div class="card-body m-5 d-flex align-items-center">
          <%= image_tag("default_avatar.png", alt: "default avatar", class: "rounded-circle", style: "width: 20%;") %>
          <%= form.email_field :email, required: true, class: "mx-5 form-control", autofocus: true, placeholder: "Email" %>
        </div>
        <div class="card-footer d-flex justify-content-end">
          <%= form.submit "Sign In", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
