<%= render partial: "shared/top_bar", locals: {
  session: @session,
} %>

<div class="d-flex h-100 justify-content-around mt-5">
  <% if @session.member? %>
    <%= render partial: "shared/main_containers_members" %>
  <% end %>
</div>
