<%= render partial: "shared/top_bar", locals: {
  session: current_user,
} %>

<main class="container">
  <section class="container mb-5">
    <h2>Training Sessions</h2>
    <%= render partial: "shared/index_layout", locals: { resource: @training_sessions, heading: "name", fields: [
      'user.name',
      'room_booking.location',
      'room_booking.booking_time']} %>
  </section>
</main>
